/*
  Oh Hello!
  These are some base styles so that our tutorial looks good.
  Let's go through the important bits real quick
*/

/* These are colors we're use */
:root {
  --yellow: #ffc600;
  --black: #272727;
  --pink: #f93d66;
  --purple: #6d47d9;
}

html {
  box-sizing: border-box;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(110deg, var(--pink), var(--purple)) fixed;
  font-family: sans-serif;
  color: var(--black);
}

/* Each item in our grid will contain numbers */
.item {
  /* We center the contents of these items using flexbox. You can also do this CSS grid too! */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: var(--yellow); /* best colour */
  border: 0.1rem solid rgba(255, 255, 255, 0.25);
  border-radius: 0.25em;
  padding: 0.125rem;
}

/**
* USE CSS GRID BELOW
**/
.container {
  display: grid;
  gap: 1rem;;
  grid-template-columns: repeat(5, 1fr 2fr);
  grid-template-rows: repeat(10, 50px);
}

/* With Item 1, start at col 3 and go until 5 */
.item1 {
  grid-column: 3/5;
}

/* With Item 2, start at col 5 and go until the end */
.item2 {
  grid-column: 5/-1;
}

/* Make Item 5 double span 2 cols and rows */
.item5 {
  grid-area: span 2/span 2;
}

/* Make Item 8 two rows high */
.item8 {
  grid-row: span 2
}

/* Make Item 15 span the entire grid width */
.item15 {
  grid-column: 1/ -1;
}

/* Make item 18 span 4 widths, but end 9 */
.item18 {
  grid-column: span 4/ 9;
}

/* Make item 20 start at row 4 and go for 3 */
.item20 {
  grid-row: 4/span 3;
}
